/*
CSS STYLES PAGE
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
	background-color: #BFBFBF
}

h1 {
	font-family: 'Raleway';
	text-align: center;
	font-size: 55px;
}

p {
	text-align: center;
	font-family: Raleway;
}

h2 {
	font-family: 'Raleway';
	}
img {
	C:\Users\rkite_000\Desktop\Bootcamp\git\aboutme\Images.jpg
	width: 50px;
	height: 50px;
}