/*
CSS STYLE PAGE
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
	background-color: #dcdcdc
}

h1 {
	font-family: "Raleway";
	text-align: center;
	font-size: 75px;
}

p {
	text-align: center;
	font-family: "Raleway";
}

h2 {
	font-family: "Raleway";
	}