/**
*CSS Style Sheet
*
**/
@import url(https://fonts.googleapis.com/css?family=Oswald);

html {
	background: url(../images/Petroglyph.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**.jumbotron {
		background-color: darkturquoise;
	color: #ffffff;
	font-family: Oswald;
}
*/

h1 {
	position: absolute;
	top: 200px;
	left: 0;
	width: 100%;
	color: white;
}

li {
	font-family: "Comic Sans MS";
	color: #ffffff;
}

.content-box{
	background-color: lightsalmon;
	border-radius: 6px;
	padding: 10px 15px 15px;
	margin-bottom: 20px
}